<div class="conf-navbar">
  <div>
    <div class="hang-left">
      <ul>
        <li><a id="home" href="/#/" style="color:black;text-decoration:none;">ConferenceViewer</a></li>
        <!-- <li class="active">Home</li>
        <li>Meeting</li>
        <li><form><input placeholder="meeting number"></input></form></li>
        <li><form><input placeholder="meeting instance"></input></form></li>
        <li><form><input placeholder="email"></input></form></li> -->
      </ul>
    </div>
    <div class="hang-right">
      <ul>
        <li>Summarized by Tweets!</li>
      </ul>
    </div>
  </div>
</div>
<div class="navbar-placeholder"></div>